#mis_Reportes {
  padding: 15px;
}

#mis_Reportes .agregar-mis_Reportes {
  margin-bottom: 20px;
}
#mis_Reportes .botones-mis_Reportes {
  margin-bottom: 20px;
  margin-left: 30px;
}

.grid-mis_Reportes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}

@media screen and (max-width: 992px) {
  .grid-mis_Reportes {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .grid-mis_Reportes {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .grid-mis_Reportes {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .grid-mis_Reportes {
    grid-template-columns: 1fr 1fr;
  }
}

